/*开头*/
.center_top{
    border-bottom: 2px #dfdfdf solid;
}
.center_top .container .row .col-md-4{
    text-align: center;
    color: #666;
    font-size: 22px;
    padding: 15px 0;
}
.center_top .container .row .col-md-8{
    text-align: center;
}
.center_top .container .row .col-md-8 a{
    color: #000;
    font-size: 16px;
    border: 1px #dfdfdf solid;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 4px;
    transition: all .3s linear;
}
.center_top .container .row .col-md-8 a:hover{
    background: #D64416;
    transition: all .3s linear;
    color: #ffffff;
}
/*主题部分*/
.trunk{
    padding: 10px 50px;
}
.trunk .row .col-md-12{
    padding: 18px 8px;
    border-bottom: 1px solid #dfdfdf;
}
.trunk .row .col-md-12 h4{
    font-weight: bold;
    color: #555;
}
.trunk .row .col-md-12 span{
    color: #E04028;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.trunk .row .col-md-12 p{
    color: #666;
}
.trunk .row .col-md-12 button{
    margin-top: 23px;
}